body {
  background-image: linear-gradient(300deg, #7728db, #2682cf, #00b9c2);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
section {
  height: 700px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.form {
    box-sizing: border-box;
    background-color: rgba(240, 248, 255, 0.76);
    width: 90%;
    height: max-content;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    border: solid;
    border-color: #7628db00;
    position: relative;
}
.h1{
    margin: 5px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(241, 167, 28);
    color: white;
}
table{
    margin-top: 30px;
    margin: auto;
    border: white;
    width: 90%;
    text-align: center;
}
form{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
fieldset{
    margin: 0px 0px 0px 0px;
}

